html{
	font-size: 1rem;
}
#main{
	width: 100%;
	height: auto;
	position: relative;
}
/*-------header----------*/
#header{
	width: 100%;
	height: 2rem;
	background-color: #212121;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#header h1{
	width: 100%;
	height: 100%;
	font-size: 0.76rem;
	color: #fff;
	font-weight: normal;
	text-align: center;
	line-height: 2rem;
}
#header span{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	line-height: 2rem;
	width: 2.2rem;
	text-align: center;
	font-size: 0.62rem;
	color: #959595;
}
/*-------nav----------*/
#nav{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	background-color: #fff;
	z-index: 100;
}
.nav_item{
	float: left;
	width: 25%;
	height: 100%;
	padding: 0.35rem 0;
	box-sizing: border-box;
}
.nav_icon_box{
	width: 100%;
	height: 1rem;
}
.nav_icon_inner{
	width: 1rem;
	height: 1rem;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.nav_icon_inner.icon_home{
	background-image: url(../images/icon_home.png);
}
.nav_icon_inner.icon_cate{
	background-image: url(../images/icon_cate.png);
}
.nav_icon_inner.icon_cart{
	background-image: url(../images/icon_cart.png);
}
.nav_icon_inner.icon_mine{
	background-image: url(../images/icon_mine.png);
}
.nav_hint{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	font-size: 0.32rem;
	color: #222;
}
.nav_hint.cur{color: #c2a15c;}
/*-------total结算模块----------*/
#balance{
	position: fixed;
	left: 0;
	bottom: 2.5rem;
	width: 100%;
	height: 1.8rem;
	background-color: #f6f6f6;
	box-sizing: border-box;
	color: #2f2f2f;
	z-index: 100;
}
#balance>div{
	display: inline-block;
	margin-left: 0.6rem;
	float: left;
	height: 1.8rem;
	line-height: 1.8rem;
}
/*全选*/
.balance_selectAll{
	font-size: 0.32rem;
}
.selectAll_icon_input{
	vertical-align: middle; 
	position: relative;
	left: 0;
	top: -2px;
	width: 1rem;
	height: 1rem;
}
.selectAll_icon_input::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	background-image: url(../images/btn_checkbox.png);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}
.selectAll_icon_label{
	height: 1rem;
	line-height: 1rem;
	text-align: center;
}
/*合计*/
.balance_total{
	font-size: 0.32rem;
	vertical-align: middle; 
}
.balance_total b{
	font-size: 0.4rem;
}
/*运费*/
.balance_freight{
	font-size: 0.32rem;
}
/*结算按钮*/
.balance_btn{
	float: right;
	width: 4rem;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #ba9d65;
	font-weight: bold;
}
/*-------container商品列表----------*/
#container{padding-top: 2rem;padding-bottom: 5rem;}
#container,.productList{
	width: 100%;
	height: auto;
}
.product{
	width: 100%;
	height: 5rem;
	border-bottom: 1px solid #dedede;
}
.product>div{
	float: left;
	height: 100%;
}
.product_checkbox{
	padding-left: 0.6rem;
	/*vertical-align: middle;*/
	box-sizing: border-box;
}
.product_checkbox_input{
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	min-width: 1rem;
	height: 100%;
}
.product_checkbox_input::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1rem;
	height: 100%;
	background-color: #fff;
	background-image: url(../images/btn_checkbox.png);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}
.product_img{
	width: 5rem;
    text-align: center;
}
.product_img img{
	height: 100%;
	width: auto;
}
.product_msg{
	width: 9rem;
}
.msg_top{
	height: 2.5rem;
	padding: 0.25rem 0;
	box-sizing: border-box;
}
.msg_top p{
	width: 100%;
	height: 1.25rem;
	line-height: 1.25rem;
}
.pro_name{
	font-size: 0.64rem;
	color: #222;
}
.pro_title{
	font-size: 0.32rem;
	color: #bababa;
}
.msg_bottom{
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
}
.msg_bottom_l{
	float: left;
	font-size: 0.68rem;
}
.msg_bottom_r{
	float: right;
	width: 3.6rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.count{
	height: 1.2rem;
	line-height: 1.2rem;
	width: 100%;
	border:1px solid #dedede;
	display: flex;
	align-items: stretch;
	border-radius: 0.6rem;
}
.count>span{
	width: 1.2rem;
	display: inline-block;
	text-align: center;
}
.sub,.add{
	font-size: 0.7rem;
	color: #dfdfdf;
}
.sub.cur,.add.cur{
	color: #1f1f1f;
}
.sub{
	border-right: 1px solid #dedede;
}
.add{
	border-left: 1px solid #dedede;
}
.sum{
	color: #b89b5f;
	font-size: 0.64rem;
}
