/*登录注册样式*/
/*头部*/
body{width: 100%; height: 100%;position: relative;}
.login,.register,.forget{width: 100%;height: 100%;position: relative;}
.bg{
  width: 100%;
  height: 100%;
  background-image: url(../images/login/bg.gif);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.header_box{
  width: 100%;
  height: 1.1rem;
}
.header_box .register_btn,.login_btn{
  color: rgb(151,151,151);
  float: right;
  height: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*表单*/
.from{
  width: 100%;
  padding: 1.75rem;
  box-sizing: border-box;
}
.input_box input{
  border-bottom: 0.013rem solid rgb(151,151,151);
  width: 100%;
  padding:0.4rem 0rem;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0,0,0,0);
}
.input_box input:focus {outline: none;}
[data-dpr="1"] .input_box input { font-size: 16px; } 
[data-dpr="2"] .input_box input { font-size: 32px; } 
[data-dpr="2.625"] .input_box input { font-size: 42px; } 
[data-dpr="3"] .input_box input { font-size: 48px; }
[data-dpr="3.5"] .input_box input { font-size: 56px; }

.confirm_btn_box{
  width: 100%;
  height: 0.933rem;
  margin-top: 0.8rem;
  background-image: url(../images/login/confirm_btn.png);
  background-position: left top; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.forget_btn{
  width: 100%;
  height: 0.933rem;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #bbb;
}
[data-dpr="1"] .forget_btn{ font-size: 14px; } 
[data-dpr="2"] .forget_btn{ font-size: 28px; } 
[data-dpr="2.625"] .forget_btn{ font-size: 36px; } 
[data-dpr="3"] .forget_btn{ font-size: 42px; }
[data-dpr="3.5"] .forget_btn{ font-size: 50px; }

/*其他方式登录*/
.other_box{
  width: 100%;
  height: 2.3rem;
  box-sizing: border-box;
  padding: 0rem 2.7rem;
  text-align: center;
}
.other_login{
  width: 100%;
  height: 0.4rem;
  color: white;
  position: relative;
}
.other_login::before,.other_login::after{
  content: '';
  position: absolute;
  top: 0.2rem;
  width: 1.06rem;
  height: 0px;
  border-bottom: 0.013rem solid rgb(151,151,151);
}
.other_login::before{left: 0px;}
.other_login::after{right: 0px;}
[data-dpr="1"] .other_login{ font-size: 12px; } 
[data-dpr="2"] .other_login{ font-size: 24px; } 
[data-dpr="2.625"] .other_login{ font-size: 32px; } 
[data-dpr="3"] .other_login{ font-size: 36px; }
[data-dpr="3.5"] .other_login{ font-size: 42px; }
.wx_login{
  margin-top: 0.57rem;
  width: 100%;
  height: 1.33rem;
  background-image: url(../images/login/wx_login.png);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*logo*/
.logo_box{
  position: fixed;
  left: 0;
  bottom: 2.67rem;
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images/login/logo@2x.png);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
/*注册、忘记密码*/
/*验证码 identifying_code_btn*/
.identifying_code_box{
  position: relative;
}
.identifying_code_btn{
  width: 2.18rem;
  height: 0.8rem;
  border: 0.013rem solid rgb(186,157,100);
  border-radius: 0.4rem;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0.2rem;
  color: rgb(186,157,100);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
[data-dpr="1"] .identifying_code_btn{ font-size: 12px; } 
[data-dpr="2"] .identifying_code_btn{ font-size: 26px; } 
[data-dpr="2.625"] .identifying_code_btn{ font-size: 34px; } 
[data-dpr="3"] .identifying_code_btn{ font-size: 39px; }
[data-dpr="3.5"] .identifying_code_btn{ font-size: 46px; }
/*提示tips*/
.tips{
  display: inline-block;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(255,255,255,.65);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.6rem;
  color: #111;
  box-sizing: border-box;
  padding: 0px 0.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
[data-dpr="1"] .tips{ font-size: 12px; } 
[data-dpr="2"] .tips{ font-size: 26px; } 
[data-dpr="2.625"] .tips{ font-size: 34px; } 
[data-dpr="3"] .tips{ font-size: 39px; }
[data-dpr="3.5"] .tips{ font-size: 46px; }